.team {
    height: 945px;

    .team__title {
        position: relative;
        margin-top: 140px;
        font-size: 37px;
        text-align: center;
        text-transform: uppercase;

        &::before {
            position: absolute;
            top: -100px;
            left: 636px;
            content: 'T';
            font-size: 247px;
            font-weight: 700;
            opacity: 0.2;

        }
    }

    .team__subtitle {
        margin-top: 140px;
        text-align: center;
        font-family: 'News Cycle', sans-serif;
        font-size: 30px;
        font-weight: 100;
    }

    .team__list {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .item__title {
        margin: 0 auto;
        width: 215px;
        height: 80px;
        background-color: #fff;
        text-align: center;
        transform: translateY(-50px);

        .item__name {
            padding-top: 20px;
            font-family: 'News Cycle', sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #11749e;
            text-transform: uppercase;
        }

        .item__position {
            padding-top: 12px;
            font-size: 15px;
            font-weight: 700;
        }
    }
}
