body {
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
}

.container--content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1175px;
    height: auto;
}

.container--narrow {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1045px;
    height: 100%;
}
